Options -Indexes
<FilesMatch "\.(php|php3|php4|php5|phtml|phar|cgi|pl|asp|aspx|jsp|sh)$">
Require all denied
</FilesMatch>
AddType text/plain .php .php3 .php4 .php5 .phtml .phar .cgi .pl .asp .aspx .jsp .sh
